<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicplayerApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D27C5D7D8D5520E88BAAFF9C33F85772D6CEEBF</string>
				<key>dateExpires</key>
				<string>30/04/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V479GRYT8P.com.drish.musicplayerApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V479GRYT8P</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>musicplayerApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>83ca222f-1e20-4d1c-b3a0-ab95adb20097</string>
				<key>dateExpires</key>
				<string>28/11/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V479GRYT8P</string>
				<key>name</key>
				<string>DRISH INFOTECH LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
